.imageSlider{
    width: 414px;
    height: 153px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0px 16px;
    .leftGroup{
        border: 1px solid red;
        display: grid; 
        gap: 14.14px 16.16px;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
        "leftSide midSide rightSide"
        "leftSide midSide rightSide"
        "leftSide midSide rightSide"; 
        .leftSide { 
            grid-area: leftSide;
            padding-top: 27.77px;
        }
        .midSide { 
            grid-area: midSide;
        }
        .rightSide { 
            grid-area: rightSide;
            padding-top: 27.77px;
        }
    }
    .rightGroup{
        border: 1px solid blue;
        display: grid; 
        gap: 14.14px 16.16px;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
        "leftSide midSide rightSide"
        "leftSide midSide rightSide"
        "leftSide midSide rightSide"; 
        .leftSide { 
            grid-area: leftSide;
        }
        .midSide { 
            grid-area: midSide;
            padding-top: 27.77px;
        }
        .rightSide { 
            grid-area: rightSide;
        }
    }
}
