@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1023px) {
  .container {
    .logo {
      margin-top: 48px;
    }
    .imageSlider {
      margin-top: 64px;
      width: 1504px;
      height: 358px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 88px;
      grid-template-areas: "leftGroup desktopArticle rightGroup";
      .leftGroup {
        grid-area: leftGroup;
        display: grid;
        gap: 28px 32px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "leftSide midSide rightSide"
          "leftSide midSide rightSide"
          "leftSide midSide rightSide";
        img {
          width: 110px;
          height: 110px;
        }
        .leftSide {
          overflow: hidden;
          grid-area: leftSide;
          padding-top: 55px;
          img:last-child {
            margin-top: 20px;
          }
        }
        .midSide {
          grid-area: midSide;
          img:last-child {
            margin-top: 20px;
          }
        }
        .rightSide {
          overflow: hidden;
          grid-area: rightSide;
          padding-top: 55px;
          img:last-child {
            margin-top: 20px;
          }
        }
      }
      .desktopArticle {
        grid-area: desktopArticle;
        margin-top: 47px;
        // margin: 72px 155px 0px 155px;
        .paragraph {
          text-align: center;
          h1 {
            font-size: 48px;
            font-weight: 900;
            margin-bottom: 24px;
            line-height: 48px;
            height: 100px;
            overflow: hidden;
          }
          p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 28px;
            color: #87879d;
          }
        }
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .download {
            width: 193px;
            height: 58px;
            border-radius: 29px;
            font-size: 16px;
            line-height: 26px;
            background-color: #4d96a9;
            border: none;
            font-weight: 900;
            color: white;
            &:hover {
              cursor: pointer;
              background-color: #71C0D4;
            }
            span {
              margin-left: 4px;
              color: #8fe3f9;
              &:hover{
                color: #8fe3f9;
              }
            }
          }
          button:last-child {
            margin-left: 16px;
            width: 139px;
            height: 58px;
            border-radius: 29px;
            background-color: #855fb1;
            border: none;
            font-size: 16px;
            color: white;
            font-weight: 900;
            &:hover {
              cursor: pointer;
              background-color: #D9B8FF;
            }
          }
        }
      }
      .rightGroup {
        grid-area: rightGroup;
        display: grid;
        gap: 0px 32px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "leftSide midSide rightSide"
          "leftSide midSide rightSide"
          "leftSide midSide rightSide";
        img {
          width: 110px;
          height: 110px;
        }
        .leftSide {
          grid-area: leftSide;
          img:last-child {
            margin-top: 20px;
          }
        }
        .midSide {
          grid-area: midSide;
          overflow: hidden;
          img:last-child {
            margin-top: 20px;
          }
          padding-top: 55px;
        }
        .rightSide {
          grid-area: rightSide;
          img:last-child {
            margin-top: 20px;
          }
        }
      }
    }
    .article {
      display: none;
    }
    .wrapper {
      .verticalLine {
        margin: 110px auto 0px auto;
        width: 1px;
        height: 84px;
        background: #87879d;
      }
      .circle {
        margin: 0 auto 64px auto;
        width: 56px;
        height: 56px;
        background: #fafafa;
        border-radius: 50%;
        border: 1px solid #87879d;
        position: relative;
        margin: 0 auto 0 auto;
        font-weight: 900;
      }
      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #87879d;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .blockImage {
      margin: 64px auto 0px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 11px;
      grid-template-areas: "videocall videochatting meeting texting";
      .videocall {
        grid-area: videocall;
      }
      .videochatting {
        grid-area: videochatting;
      }
      .meeting {
        grid-area: meeting;
      }
      .texting {
        grid-area: texting;
      }
      img {
        width: 250px;
        height: 242px;
        border-radius: 8px;
      }
    }
    .paragraph2 {
      margin: 80px auto 0px auto;
      text-align: center;

      h2 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        color: #4d96a9;
        text-transform: uppercase;
      }
      h1 {
        margin: 16px auto 32px auto;
        overflow: hidden;
        font-size: 40px;
        line-height: 44px;
        font-weight: 900;
        width: 445px;
      }
      p {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: #87879d;
        margin: 0px auto 0px auto;
        width: 540px;
      }
    }
    .wrapper {
      .verticalLine {
        height: 84px;
      }
    }
    .footer {
      text-align: center;
      width: 100%;
      background: linear-gradient(
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
        ),
        url(/assets/mobile/image-footer.jpg);
        background-size: cover;
        .paragraph3 {
        width: 1110px;
        height: 308px;
        margin: auto;
        display: flex;
        align-items: center;
        h1 {
          width: 350px;
          text-align: left;
          overflow: hidden;
          color: white;
          font-size: 40px;
          line-height: 44px;
          font-weight: 900;
        }
        p {
          width: 350px;
          margin: 0px 125px 0px 92px;
          text-align: left;
          color: #fafafa;
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
        }
        button {
          width: 193px;
          height: 58px;
          border-radius: 29px;
          font-size: 16px;
          line-height: 26px;
          background-color: #855fb1;
          border: none;
          font-weight: 900;
          color: white;
          &:hover {
            cursor: pointer;
            background-color: #B18BDD;
          }
          span {
            margin-left: 4px;
            color: #D9B8FF;
          }
        }
      }
    }
  }
}

// // Tablet Portrait & Landscape

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .container {
    .logo {
      margin-top: 48px;
    }
    .imageSlider {
      margin-top: 64px;
      width: 820px;
      height: 303px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px 32px;
      .leftGroup {
        display: grid;
        gap: 0px 32px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "leftSide midSide rightSide"
          "leftSide midSide rightSide"
          "leftSide midSide rightSide";
          img {
          width: 110px;
          height: 110px;
        }
        .leftSide {
          overflow: hidden;
          grid-area: leftSide;
          padding-top: 55px;
          img:last-child {
            margin-top: 20px;
          }
        }
        .midSide {
          grid-area: midSide;
          img:last-child {
            margin-top: 20px;
          }
        }
        .rightSide {
          overflow: hidden;
          grid-area: rightSide;
          padding-top: 55px;
          img:last-child {
            margin-top: 20px;
          }
        }
      }
      .desktopArticle {
        display: none;
      }
      .rightGroup {
        display: grid;
        gap: 0px 32px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "leftSide midSide rightSide"
          "leftSide midSide rightSide"
          "leftSide midSide rightSide";
        img {
          width: 110px;
          height: 110px;
        }
        .leftSide {
          grid-area: leftSide;
          img:last-child {
            margin-top: 20px;
          }
        }
        .midSide {
          grid-area: midSide;
          overflow: hidden;
          img:last-child {
            margin-top: 20px;
          }
          padding-top: 55px;
        }
        .rightSide {
          grid-area: rightSide;
          img:last-child {
            margin-top: 20px;
          }
        }
      }
    }
    .article {
      margin: 72px 155px 0px 155px;
      .paragraph {
        text-align: center;
        h1 {
          font-size: 48px;
          font-weight: 900;
          margin-bottom: 24px;
          line-height: 48px;
          height: 100px;
          overflow: hidden;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 28px;
          color: #87879d;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .download {
          width: 193px;
          height: 58px;
          border-radius: 29px;
          font-size: 16px;
          line-height: 26px;
          background-color: #4d96a9;
          border: none;
          font-weight: 900;
          color: white;
          span {
            margin-left: 4px;
            color: #8fe3f9;
          }
        }
        button:last-child {
          margin-left: 16px;
          width: 139px;
          height: 58px;
          border-radius: 29px;
          background-color: #855fb1;
          border: none;
          font-size: 16px;
          color: white;
          font-weight: 900;
        }
      }
    }
    .wrapper {
      .verticalLine {
        margin: 80px auto 0px auto;
        width: 1px;
        height: 84px;
        background: #87879d;
      }
      .circle {
        margin: 0 auto 64px auto;
        width: 56px;
        height: 56px;
        background: #fafafa;
        border-radius: 50%;
        border: 1px solid #87879d;
        position: relative;
        margin: 0 auto 0 auto;
        font-weight: 900;
      }
      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #87879d;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .blockImage {
      margin: 67px auto 0px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 11px;
      grid-template-areas: "videocall videochatting meeting texting";
      .videocall {
        grid-area: videocall;
      }
      .videochatting {
        grid-area: videochatting;
      }
      .meeting {
        grid-area: meeting;
      }
      .texting {
        grid-area: texting;
      }
      img {
        width: 164px;
        height: 156px;
        border-radius: 8px;
      }
    }
    .paragraph2 {
      margin: 48px auto 0px auto;
      text-align: center;
      width: 573px;
      h2 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        color: #4d96a9;
        text-transform: uppercase;
      }
      h1 {
        margin: 16px auto 32px auto;
        overflow: hidden;
        font-size: 40px;
        line-height: 44px;
        font-weight: 900;
        width: 445px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: #87879d;
        margin: 0px auto 0px auto;
      }
    }
    .footer {
      text-align: center;
      width: 100%;
      .wrapper {
        .verticalLine {
          height: 84px;
        }
      }
      .paragraph3 {
        background: linear-gradient(
            rgba(77, 150, 169, 0.9),
            rgba(77, 150, 169, 0.9)
          ),
          url(/assets/mobile/image-footer.jpg);
        background-size: cover;
        h1 {
          margin: 92px 155px 32px 155px;
          overflow: hidden;
          color: white;
          font-size: 40px;
          line-height: 44px;
          font-weight: 900;
        }
        p {
          margin: 0px 98px;
          color: #fafafa;
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
        }
        button {
          margin: 32px 24px 72px 24px;
          width: 193px;
          height: 58px;
          border-radius: 29px;
          font-size: 16px;
          line-height: 26px;
          background-color: #855fb1;
          border: none;
          font-weight: 900;
          color: white;
          span {
            margin-left: 4px;
            color: #d9b8ff;
          }
        }
      }
    }
  }
}

// // Phone Portrait & Landscape

@media screen and (max-width: 480px) {
  .container {
    .logo {
      margin-top: 48px;
    }
    .imageSlider {
      margin-top: 54px;
      width: 414px;
      height: 153px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px 16px;
      .leftGroup {
        img {
          width: 56px;
          height: 56px;
        }
        display: grid;
        gap: 14.14px 16.16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "leftSide midSide rightSide"
          "leftSide midSide rightSide"
          "leftSide midSide rightSide";
        .leftSide {
          grid-area: leftSide;
          padding-top: 15.77px;
        }
        .midSide {
          grid-area: midSide;
        }
        .rightSide {
          grid-area: rightSide;
          padding-top: 15.77px;
        }
      }
      .desktopArticle {
        display: none;
      }
      .rightGroup {
        img {
          width: 56px;
          height: 56px;
        }
        display: grid;
        gap: 14.14px 16.16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "leftSide midSide rightSide"
          "leftSide midSide rightSide"
          "leftSide midSide rightSide";
        .leftSide {
          grid-area: leftSide;
        }
        .midSide {
          grid-area: midSide;
          padding-top: 15.77px;
        }
        .rightSide {
          grid-area: rightSide;
        }
      }
    }
    .article {
      margin: 48px 24px 0px 24px;
      .paragraph {
        text-align: center;
        h1 {
          font-size: 40px;
          font-weight: 900;
          margin-bottom: 24px;
          line-height: 44px;
          overflow: hidden;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 32px;
          color: #87879d;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        .download {
          align-self: center;
          width: 193px;
          height: 58px;
          border-radius: 29px;
          font-size: 16px;
          line-height: 26px;
          background-color: #4d96a9;
          border: none;
          font-weight: 900;
          color: white;
          span {
            margin-left: 4px;
            color: #8fe3f9;
          }
        }
        button:last-child {
          align-self: center;
          margin-top: 16px;
          width: 139px;
          height: 58px;
          border-radius: 29px;
          background-color: #855fb1;
          border: none;
          font-size: 16px;
          color: white;
          font-weight: 900;
        }
      }
    }
    .wrapper {
      .verticalLine {
        margin: 64px auto 0px auto;
        width: 1px;
        height: 100px;
        background: #87879d;
      }
      .circle {
        margin: 0 auto 64px auto;
        width: 56px;
        height: 56px;
        background: #fafafa;
        border-radius: 50%;
        border: 1px solid #87879d;
        position: relative;
        margin: 0 auto 0 auto;
        font-weight: 900;
      }
      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #87879d;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .blockImage {
      margin: 64px 24px 0px 24px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 24px 25px;
      grid-template-areas:
        "videocall videochatting"
        "meeting texting";
      .videocall {
        grid-area: videocall;
      }
      .videochatting {
        grid-area: videochatting;
      }
      .meeting {
        grid-area: meeting;
      }
      .texting {
        grid-area: texting;
      }
      img {
        width: 151px;
        height: 143px;
        border-radius: 8px;
      }
    }
    .paragraph2 {
      margin: 64px 24px 0px;
      text-align: center;
      h2 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        color: #4d96a9;
        text-transform: uppercase;
      }
      h1 {
        overflow: hidden;
        font-size: 32px;
        line-height: 36px;
        font-weight: 900;
        margin: 24px 0px 32px 0px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: #87879d;
      }
    }
    .footer {
      width: 100%;
      text-align: center;
      background: linear-gradient(
          rgba(77, 150, 169, 0.9),
          rgba(77, 150, 169, 0.9)
        ),
        url(/assets/mobile/image-footer.jpg);
      background-size: cover;
      .paragraph3 {
        width: 327px;
        margin: auto auto;
        h1 {
          margin: 90px auto 24px auto;
          overflow: hidden;
          color: white;
          font-size: 32px;
          line-height: 36px;
          font-weight: 900;
        }
        p {
          margin: 0px auto;
          color: #fafafa;
          color: #fafafa;
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
        }
        button {
          margin: 40px auto 66px auto;
          width: 193px;
          height: 58px;
          border-radius: 29px;
          font-size: 16px;
          line-height: 26px;
          background-color: #855fb1;
          border: none;
          font-weight: 900;
          color: white;
          span {
            margin-left: 4px;
            color: #d9b8ff;
          }
        }
      }
    }
  }
}
